all:
  hosts:
    barbossa.test:
      ansible_user: barbossa
      ansible_password: password
      ansible_become_password: password
      ansible_python_interpreter: "/run/current-system/sw/bin/python3.7"
